[submodule "vendor/erpy"]
	path = vendor/erpy
	url = https://github.com/mdaniels5757/erpy.git
[submodule "vendor/Pyrlang"]
	path = vendor/Pyrlang
	url = https://github.com/mdaniels5757/Pyrlang.git
	branch = feature/new-link-protocol
[submodule "vendor/Term"]
	path = vendor/Term
	url = https://github.com/mdaniels5757/Term
