[submodule "vendor/Pyrlang"]
	url = https://github.com/mdaniels5757/Pyrlang.git
	active = true
	path = "vendor/Pyrlang"
    # ignore = untracked
[submodule "vendor/Term"]
	url = https://github.com/Pyrlang/Term.git
	active = true
	path = "vendor/Term"
    # ignore = untracked
