[submodule "vendor/Pyrlang"]
	url = git@github.com:mdaniels5757/Pyrlang.git
	active = true
    ignore = untracked
[submodule "vendor/Term"]
	url = https://github.com/Pyrlang/Term
	active = true
    ignore = untracked
