.DS_Store
*.bkp
*.dtmp

# why tho
._*
gmon.out

# Python
venv/
.venv/
__pycache__
**/__pycache__
*.pyc
*.egg-info
*.egg
.ruff_cache

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# rebar
.rebar3
_build
_checkouts
_vendor
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
.idea
*.iml
rebar3.crashdump
*~
