[{elvis, [
    {config, [
        #{ dirs    => ["src/**/src", "src"]
         , filter  => "*.erl"
         , ruleset => erl_files 
         , rules => [
            % change line_length from 100 to 80
            {elvis_text_style, line_length, #{ limit => 80 }}
          , {elvis_style, atom_naming_convention,
              #{ ignore => [handleCLIRequest, serverbroker] }}
          , {elvis_style, module_naming_convention,
              #{ ignore => [handleCLIRequest] }}
          , {elvis_style, function_naming_convention,
              #{ ignore => [handleCLIRequest, serverbroker] }}
        ]}
      , #{ dirs    => ["src/**/include", "include"]
         , filter  => "*.hrl"
         , ruleset => hrl_files 
         , rules => [
            {elvis_text_style, line_length, #{ limit => 80 }}
        ]}
      , #{ dirs    => ["src/**/.", "."]
         , filter  => "rebar.config"
         , ruleset => rebar_config 
         , rules => [
            {elvis_text_style, line_length, #{ limit => 80 }}
        ]}
      , #{ dirs    => ["src/**/.", "."]
         , filter  => "elvis.config"
         , ruleset => elvis_config 
         , rules => [
            {elvis_text_style, line_length, #{ limit => 80 }}
        ]}
    ]}
    % output_format (optional): how to format the output.
    % Possible values are 'plain', 'colors' or 'parsable' (default='colors').
  , {output_format, colors}
    % verbose (optional): when 'true' more information will
    % be printed (default=false).
  , {verbose, true}
    % no_output (optional): when 'true' nothing will be printed
    % (default=false).
  , {no_output, false}
    % parallel: determine how many files will be
    % analyzed in parallel (default=1).
  , {parallel, 1}
]}].